/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared style  */
body{
    font-family: "Work Sans", sans-serif;
}

/* nav related style  */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.nav-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #3A3A3A;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul > li {
    list-style: none;
    margin-right: 20px;
}

li a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 400;
}

/* header styles  */

header{
    max-width: 1340px;
    margin: 0 auto;
}

.header-container{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-bottom: 0;
    padding-bottom: 0;
    height: 600px;
}


.half-width{
    width: 50%;
}
.header-content{
    padding-right: 200px;
}

.head-title{
    font-size:3.35rem;
    color: #3A3A3A;
    font-weight: 700;
}

.head-description{
    font-size: 1rem;
    color: #3A3A3A;
    font-weight: 400;
    padding: 0px 250px 10px 0px;
}
.header-img{
    height: 440px;
    width: 414px;
    background-image: url('../images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-size:;
    background-position: center;
    
}

.half{
    width: 50%;

}

.btn-primary{
    height:44px;
    width:196px;
    border-radius: 55px;
    background: #E02C6D;
    border: 0;
    color: #FFFFFF;
}

/* sponsors style  */

.sponsors{
    max-width: 1210px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin: 150px auto 100px auto;
    box-shadow: 2px 10px 50px 0px rgba(0,0,0,0.09);
    height: 110px;
    align-items: center;
}

/* card section  */
.card-container{
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* box-shadow: 2px 10px 50px 0px rgba(0,0,0,0.09); */
    row-gap:30px;
    column-gap:0px;
    justify-content: center;

}

.collection-head{
    text-align: center;
    font-size:1.8rem;
    font-weight: 600;
}

.card{
 
    height: 476px;
    width: 329px;
    box-shadow: 2px 10px 30px 0px rgba(0,0,0,0.09);
    padding: 20px 0px 20px 20px;
}

.card img{
    width: 300px;
    height: 256px;
    border-radius: 5px;
    text-align: center;
    
}

.card-title{
    font-size:1.8;
    font-weight: 600;
    color:#18191F;
}

.card-des{
    font-size: 1rem;
    font-weight: 700;
    color: #787885;
    padding: 5px;
}

.fa-star, .fa-star-half-stroke{
    color: #FB8200;
}

.see-more{
    color: #E02C6D;
    text-align: end;
    max-width: 1050px;
    margin: 40px auto;
}

.hide{
    display: none;
}



/* responsive media query  */


/* mobile device  */

@media screen and (max-width:576px) {
    .header-container,
    nav{
       flex-direction: column-reverse;
    }

    

    .header-content,
    .head-description,
    .header-container,
    .header-img,
    header{
        padding: 5px;
        margin: 5px;
        width: 100%;
    }

    .header-img{
        background-image: none;
    }

    .header-img,
    .header-content,
    .card-container,
    .nav{
        margin: 20px;
      
    }
    .header-container,
    .head-description{
        height: auto;
        align-items: center;
        text-align: center;
        padding: 5px;
    }

    .sponsors{
        flex-direction: column;
        height: auto;
        padding: 20px;
        margin: 10px;
    }
    .sponsors-img{
        padding: 20px 0px ;
    }
    .card-container{
        grid-template-columns: 1fr;
    }


}




















/* @media screen and (max-width:576px) { */
    /* .header-container{
        flex-direction: column-reverse;
        text-align: center;
        
    }

    nav,
    .sponsors{
        flex-direction: column;
        border: 0;
    }



    .sponsors-img{
        margin-bottom: 10px;
    }

    .sponsors, 
    header, 
    .card-container{
        width: 100%;
    }

    .card-container{
        grid-template-columns: repeat(1,1fr);
    }

    
    /* .header-img{
        background-image: ;
    } */ */

    .header-content,
    .head-description {
        padding: 5px;
    }
}

