/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared style  */
body{
    font-family: "Work Sans", sans-serif;
}

/* nav related style  */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.nav-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #3A3A3A;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul > li {
    list-style: none;
    margin-right: 20px;
}

li a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 400;
}

/* header styles  */

header{
    max-width: 1240px;
    margin: 0 auto;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header-content{
    padding-right: 100px;
}

.head-title{
    font-size:3.35rem;
    color: #3A3A3A;
    font-weight: 700;
}

.head-description{
    font-size: 1rem;
    color: #3A3A3A;
    font-weight: 400;
    padding: 0px 30px 10px 0px;
}
.header-img{
    height: 440px;
    width: 414px;
}

.btn-primary{
    height:44px;
    width:196px;
    border-radius: 55px;
    background: #E02C6D;
    border: 0;
    color: #FFFFFF;
}

